<system.webServer>
  <escribir>
    <reglas>
      <rule name = "React Routes" stopProcessing = "true">
        <match url = ". *" />
        <condiciones logicGrouping = "MatchAll">
          <add input = "{REQUEST_FILENAME}" matchType = "IsFile" negate = "true" />
          <add input = "{REQUEST_FILENAME}" matchType = "IsDirectory" negate = "true" />
          <add input = "{REQUEST_URI}" pattern = "^ / (api)" negate = "true" />
        </condiciones>
        <action type = "Rewrite" url = "/" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>